<aside class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" ng-if="isAuthorized('admin')">
            <li class="header">Ferramentas de Edição</li>
            <li ng-class="{active: isActive('/map-editor')}"><a ng-href="#/map-editor">Editor de Mapa</a></li>
            <li ng-class="{active: isActive('/animation-editor')}"><a ng-href="#/animation-editor">Editor de Animação</a></li>
        </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->
