<div id="canvas-container">
    <canvas data-type="grid-layer" data-width="{{data.layers.width}}" data-height="{{data.layers.height}}" ng-init="data.functions.initAnimation()" ng-style="{position:'absolute'}"></canvas>
    <canvas data-type="default" ng-init="initializeCanvas($index)" ng-repeat="canvas in data.layers.canvas track by $index" data-zindex="{{$index}}" data-width="{{data.layers.width}}" data-height="{{data.layers.height}}" ng-style="{position:'absolute',opacity:data.layers.visible == $index?1:0}"></canvas>
</div>