<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">{{title}}</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-success btn-box-tool" ng-click="add()">
                <i class="fa fa-plus" ng-style="{color:'white'}"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="direct-chat-messages">
            <table class="table bring-up">
                <tbody>
                <tr ng-repeat="frame in frames track by $index" ng-click="select($index)" ng-class="{active:(selected == $index)}">
                    <td>#Frame {{$index+1}}</td>
                    <td><span class="close" ng-click="remove($index)">&times;</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>