<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{title}}</h3>
        <div class="box-tools">
            <div class="btn-group">
                <button class="btn  btn-box-tool" ng-click="stop()">
                    <span class="fa fa-stop"></span> Parar
                </button>
                <button class="btn btn-box-tool" ng-click="pause()">
                    <span class="fa fa-pause"></span> Pausar
                </button>
                <button class="btn  btn-box-tool" ng-click="play()">
                    <span class="fa fa-play"></span> Executar
                </button>
            </div>
            <button type="button" class="btn btn-box-tool" ng-click="add()">
                <span class="fa fa-plus"></span> Novo Quadro
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="direct-chat-messages">
            <table class="table bring-up">
                <tbody>
                <tr ng-repeat="frame in frames track by $index" ng-click="select($index)" ng-class="{active:(selected == $index)}">
                    <td>#Quadro {{$index+1}}</td>
                    <td><span class="close" ng-click="remove($index)">&times;</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>