<div class="input-image">
    <label>{{title}}</label>
    <div class="form-group">
        <div class="input-group">
            <input type="file" class="form-control" multiple="{{multiple}}" ng-style="{display:'inline-block',width:'100%'}">
            <span class="input-group-btn">
                 <button type="button" class="btn btn-primary btn-flash" ng-class="{disabled:sending || files.length == 0}" ng-click="sendFiles()">Enviar</button>
            </span>
        </div>

    </div>
    <div class="form-group direct-chat-messages">
        <div class="col-md-3 col-lg-3 col-xs-12" ng-repeat="image in images" ng-style="{position:'relative'}">
            <img ng-src="{{image.url}}" alt="" class="img-responsive img-thumbnail" width="100%" height="auto"/>
            <span class="img-title" ng-style="{'text-align':'center',display:'block',position:'absolute',left:'50%'}">{{image.name}}</span>
            <progress-bar progress="100"></progress-bar>
        </div>
    </div>
</div>