<div class="image-container" ng-click="click()">
    <img ng-src="{{image}}" alt="" class="graphic-image"/>
    <div class="aligner" ng-style="{width:image_width+'px', height:image_height+'px'}">
        <div class="grid-row" ng-repeat="row in rects track by $index" ng-style="{height:(image_height/rects.length)+'px',width:image_width+'px',top:((image_height/rects.length)*$index)+'px'}">
            <div class="grid-set" ng-repeat="rect in row track by $index" ng-style="{height:(image_height/rects.length)+'px',width:(image_width/row.length)+'px',left:((image_width/row.length)*$index)+'px',border:'1px solid '+gridColor,backgroundColor:rect.fillStyle}">

            </div>
        </div>
    </div>
</div>
