<div ng-controller="AnimationEditorController" ng-init="init()">
    <div class="col-sm-12" id="actions-container">

    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <canvas-container ng-initialize="initController" engine="animationCanvas"></canvas-container>
            </div>
            <div class="col-sm-12"  id="controls-container">

            </div>
            <div class="col-sm-12" id="list-container">
                <frame-player title="Frames" ng-add="addFrame" ng-remove="removeFrame" ng-select="selectFrame"></frame-player>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12" id="animations">

            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Linhas</label>
                        <input type="number" input-number-vertical min="1" max="1000" ng-change="changeRows" ng-model="graphic.rows"/>
                    </div>
                    <div class="col-sm-6">
                        <label>Colunas</label>
                        <input type="number" input-number-vertical min="1" max="1000" ng-change="changeCols" ng-model="graphic.cols">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <input type="file" input-image title="Adicionar Gráfico" multiple="true" ng-add="addImages"/>
            </div>
            <div class="col-sm-6">
                <label for="">Imagens</label>
                <select name="" id="images" class="form-control" ng-change="changeGraphic()" ng-model="data.image" ng-options="image as image.name for image in data.images">
                </select>
            </div>
            <div class="col-sm-6">
                <label for="">Cor da grade</label>
                <input type="color" input-color ng-change="changeGridColor" ng-model="graphic.gridColor"/>
            </div>
        </div>
    </div>
</div>