<div class="content" ng-controller="AnimationsController" ng-init="list()">
    <h1>Animations</h1>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Animations</h3>
            <div class="box-tools pull-rigth">
                <button class="btn btn-box-tool" ng-click="showModal()">
                    Importar
                    <span class="fa fa-download"></span>
                </button>
            </div>
        </div>
        <div class="box-body no-padding animations-body">
            <div class="col-lg-3 col-md-3 col-xs-12" dir-paginate="animation in animations | itemsPerPage: 8 track by $index" pagination-id="animations" current-page="page" total-items="count">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h4 class="box-title">{{animation.created | date :'d/MM/y HH:mm:ss' }}</h4>
                        <div class="box-tools pull-right">
                            <button type="button" ng-click="remove($index)" class="btn btn-box-tool" ng-class="{disabled:searching}"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <img class="img-responsive" ng-src="{{baseUrl}}animations/file/{{animation.file}}"/>
                    </div>
                    <div class="box-footer">
                        {{animation.width}} x {{animation.height}}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <dir-pagination-controls pagination-id="animations" template-url="templates/Elements/paginator.html" on-page-change="list(newPageNumber,oldPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>
<div class="modal animation-modal" ng-class="{in:modalVisible}" style="display:{{modalVisible?'block':'none'}};">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ng-form name="animationForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="hideModal()">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Gráfico de Animação</h4>
                </div>
                <div class="modal-body">
                    <input type="file" input-image-preview url="{{baseUrl}}animations/upload" on-success="list"/>
                </div>
            </ng-form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>