<div ng-controller="AnimationEditorController" ng-init="init()" cache-view="false">
    <div class="col-md-6 col-sm-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Animação</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Novo Objeto" title="Novo Objetor" ng-click="addObject()">
                        <i class="fa fa-plus"></i> Novo Objeto
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Exportar" title="Exportar">
                        <i class="fa fa-upload"></i> Exportar
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" ng-class="{'hover':hoverObject != null}">
                <canvas-container ng-initialize="initController" engine="animationCanvas" refresh="refreshGrid" grid-width="grid.width" grid-height="grid.height" grid-active="grid.active"></canvas-container>
                <span>mouse:{{cursor.x}},{{cursor.y}}</span>
                <span ng-if="currentObject !== null">current object:{{currentObject.dx}},{{currentObject.dy}}</span>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="">Velocidade:</label>
                        <input type="number"  input-number-vertical min="1" max="30" ng-change="changeSpeed" ng-model="animationData.speed"/>
                    </div>
                </div>
            </div>
        </div>
        <frame-player title="Quadros" ng-add="addFrame" ng-remove="removeFrame" ng-select="selectFrame" play-callback="playAnimation" stop-callback="stopAnimation" pause-callback="pauseAnimation"></frame-player>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="box box-primary graphic-box">
            <div class="box-header with-border">
                <h3 class="box-title">Gráfico</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body animations-graphic-body">
                <div class="col-sm-12" id="animations">

                </div>
                <input type="color" input-color ng-change="changeGridColor" ng-model="graphic.gridColor" class="color-square" title="Cor da Grade"/>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-xs-12">
                        <resource-miniature image="animationData.graphic.imageData.url" rects="animationImage.grid.rectSets" grid-color="animationData.graphic.gridColor" ng-action="showModal" ></resource-miniature>
                    </div>
                    <div class="col-md-7 col-lg-7 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <label>Linhas <span ng-if="animationData.graphic.image">({{animationData.graphic.image.height/animationData.graphic.rows | number:2}}px)</span></label>
                            <input type="number" input-number-vertical min="1" max="1000" ng-change="changeRows" ng-model="animationData.graphic.rows"/>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <label>Colunas <span ng-if="animationData.graphic.image">({{animationData.graphic.image.width/animationData.graphic.cols | number:2}}px)</span></label>
                            <input type="number" input-number-vertical min="1" max="1000" ng-change="changeCols" ng-model="animationData.graphic.cols">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary object-box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Objeto</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body ">
                <div class="col-md-6">
                    <label for="">x:</label>
                    <input type="number" input-number-vertical ng-model="currentObject.dx"/>
                </div>
                <div class="col-md-6">
                    <label for="">y:</label>
                    <input type="number" input-number-vertical ng-model="currentObject.dy"/>
                </div>
                <div class="col-md-6">
                    <label for="">largura:</label>
                    <input type="number" input-number-vertical ng-model="currentObject.dWidth"/>
                </div>
                <div class="col-md-6">
                    <label for="">altura:</label>
                    <input type="number" input-number-vertical ng-model="currentObject.dHeight"/>
                </div>
            </div>
        </div>
        <div class="box box-primaryx">
            <div class="box-header with-border">
                <h3 class="box-title">Grade</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" ng-model="grid.active"/>
                        <label for="">Ativar</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="">Largura:</label>
                        <input type="number"  input-number-vertical min="10" max="100" ng-model="grid.width" ng-disabled="!grid.active"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="">Largura:</label>
                        <input type="number"  input-number-vertical min="10" max="100" ng-model="grid.height" ng-disabled="!grid.active"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal animation-modal" ng-class="{in:modalVisible}" style="display:{{modalVisible?'block':'none'}};">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="hideModal()">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Selecione o Recurso</h4>
                </div>
                <div class="modal-body animations-body">
                    <div class="col-lg-3 col-md-3 col-xs-12" ng-repeat="animation in storage.resources.animations track by $index ">
                        <div class="box box-primary box-solid animation-resource"  ng-click="changeGraphic(baseUrl+'animations/'+animation.file)">
                            <div class="box-body with-border">
                                <img class="img-responsive" ng-src="{{animation.file | bobUrl : baseUrl+'animations/'}}"/>
                            </div>
                            <div class="box-footer">
                                {{animation.width}} x {{animation.height}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<div class="clearfix"></div>