<div ng-controller="AnimationEditorController" ng-init="init()">
    <div class="col-md-6 col-sm-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Animação</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Exportar" title="Exportar">
                        <i class="fa fa-upload"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <canvas-container ng-initialize="initController" engine="animationCanvas" refresh="refreshGrid"></canvas-container>
            </div>
            <div class="box-footer">
                <frame-player title="Quadros" ng-add="addFrame" ng-remove="removeFrame" ng-select="selectFrame"></frame-player>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Gráfico</h3>
            </div>
            <div class="box-body">
                <div class="col-sm-12" id="animations">

                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <label>Linhas <span ng-if="animationData.graphic.image">({{animationData.graphic.image.height/animationData.graphic.rows | number:2}}px)</span></label>
                        <input type="number" input-number-vertical min="1" max="1000" ng-change="changeRows" ng-model="graphic.rows"/>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <label>Colunas <span ng-if="animationData.graphic.image">({{animationData.graphic.image.width/animationData.graphic.cols | number:2}}px)</span></label>
                        <input type="number" input-number-vertical min="1" max="1000" ng-change="changeCols" ng-model="graphic.cols">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="file" input-image title="Adicionar Gráfico" multiple="true" ng-add="addImages"/>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <label for="">Imagens</label>
                        <select name="" id="images" class="form-control" ng-change="changeGraphic()" ng-model="animationData.graphic.imageData" ng-options="image as image.name for image in animationData.graphic.images">
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <label for="">Cor da grade</label>
                        <input type="color" input-color ng-change="changeGridColor" ng-model="graphic.gridColor"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>