<div class="box box-solid container main-map-editor"  ng-init="MapEditorCtrl.init()">
        <div class="col-md-6">
            <div class="row">
                <div id="canvas-container">

                </div>
            </div>
            <div class="row" id="canvas-input">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <select name="" id="tileset" class="form-control">
                    <option value="../core/Graphics/Tilesets/tile_custom01.png">A</option>
                    <option value="../core/Graphics/Tilesets/tilea2.png">B</option>
                    <option value="http://i47.photobucket.com/albums/f172/FatYogiX4/Sprite%20Stuffs/SasukeS.png">sasuke</option>
                    <option value="">C</option>
                    <option value="">D</option>
                    <option value="">E</option>
                </select>
            </div>
            <div class="col-md-12">
                <div id="tileset-grid"></div>
                <div class="col-md-12" id="input-container">

                </div>
            </div>
        </div>
</div>
