.effect.ng-enter {
    transition:0.8s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.effect.ng-enter.ng-enter-active {
    opacity:1;
}

.test{
    background-color: rgba(100,100,100,0.1);
}

.input-group.number input{
    border-radius:0;
    border-right:none;
    height: 25px;
    font-size: 15px;
    padding: 0 0 0 2px;
}

.input-group.number .input-group-btn button{
    border-radius:0;
    height: 25px;
    padding: 0 5px 0 5px;
}

.input-group.number input::-webkit-outer-spin-button,
.input-group.number input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-image .input-group{
    border-radius:0;
    border:1px solid #DDD;
}

.input-image input[type=file]{
    display: none;
}

.input-image > .input-group > button{
    padding: 5px;
}

.input-image .input-group-btn .btn{
    border-radius:0;
    border-top:none;
    border-right:none;
    border-bottom:none;
}

.jasmine_html-reporter{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 810;
}

.input-image-preview .box-body,.animations-body .box-body{
    height: 200px;
    border-width: 1px 0 0 0;
    border-color: #EEE;
    border-style: solid;
    overflow: hidden;
}

.animations-body{
    overflow-x: hidden;
}

.input-image-preview .box{
    border:1px solid #EEE;
}

.input-image-preview span.error,.input-image-preview span.success{
    color:white;
}


.input-image-preview .image-container{
    position: relative;
}

.input-image-preview .image-container img{
    margin:auto;
    left:-100%;
    top:-100%;
    right:-100%;
    bottom:-100%;
    position: absolute;
}

.animation-modal .modal-body{
    height:600px;
}

.animation-modal .direct-chat-messages{
    height: 500px;
}

.color-square{
    width:30px;
    height:30px;
    position: absolute;
    left:5px;
    bottom:5px;
    background-color: white;
    border-color: black;
    padding:1px;
    z-index:5;
}


.graphic-box .box-body{
    position: relative;
}

.graphic-image{
    max-width: 100%;
    max-height:100%;
    position: absolute;
    margin:auto;
    top:-100%;
    left:-100%;
    right:-100%;
    bottom:-100%;
}

.image-container,#animations{
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAI0lEQVQYV2Pkaf5fz4AEvtQyNiLzGemgANk+EBvdSkbaKwAA0xQYPeNPf/4AAAAASUVORK5CYII=
    ) repeat;
    position: relative;
}

.image-container{
    margin:10px 0 0 0;
    width: 100%;
    min-height: 200px;
}

.image-container:hover{
    cursor: pointer;
}

.animation-resource:hover{
    cursor: pointer;
}

.animation-resource:hover img{
    opacity: 1;
 }

.animation-resource img{
    opacity: 0.7;
}

.animations-graphic-body{
    overflow: hidden;
}